.actions {
    padding: 1.5rem;
    text-align: center;
  }
  
  .actions button {
    text-align: center;
    white-space: nowrap;
    background: #0071e3;
    cursor: pointer;
    text-decoration: none;
    border: 1px solid transparent;
    color: #fff;
    border-radius: none;
    font-size: 17px;
    padding: 6px 18px;
  }
  
  .actions button:hover,
  .actions button:active {
    background-color: #2582df;
  }